.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #0a192f !important;
  color: #ccd6f6;
}
strong {
  color: #64ffda;
  font-weight: 500;
}
.text-light {
  color: #ccd6f6 !important;
}
.text-slate {
  color: #a8b2d1 !important;
}
.text-green {
  color: #64ffda !important;
}
.logo {
  font-family: "Arial", sans-serif;
  color: #64ffda !important;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.links a {
  color: #a8b2d1 !important;
  transition: all 0.3s ease;
}
.links a:hover {
  transform: scale(105%);
}
section {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.navbar {
  background: #0a192f !important;
  top:0;
  position: sticky;
}
.navbar-menu {
  background-color: transparent !important;
}

.navbar-item:focus-within {
  background: transparent !important;
}
.navbar-end .navbar-item,
.link-container .link {
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #ccd6f6;
  padding-top: 1rem;
}

.navbar-end .navbar-item:hover,
.link-container .link:hover {
  background: transparent !important;
  color: #64ffda !important;
}

.navbar-end .navbar-item:hover::after,
.navbar-end .navbar-item:focus-visible::after,
.link-container .link:hover::after,
.link-container .link:focus-visible::after {
  width: 100%;
}

.navbar-end .navbar-item::after,
.link-container .link::after {
  width: 100%;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  background-color: #64ffda;
  opacity: 0.5;
}
.project-title a {
  color: #ccd6f6;
}
.splide__slide,
.card {
  background-color: #112240;
  box-shadow: none !important;
  transition: all 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.splide__slide:hover {
  transform: translateY(-7px);
  cursor: pointer;
  .project-title a {
    color: #64ffda;
  }
  box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);
}
.section-heading {
  /* margin: 10px 0px 30px; */
  font-size: clamp(26px, 5vw, 32px);
  color: #ccd6f6;
  font-weight: 700;
}
.inner {
  display: flex;
  min-height: 250px;
}
#tab-list {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.tab-button.active {
  color: #64ffda;
  background-color: #112240;
}
.tab-button {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 42px;
  width: 100%;
  padding: 0px 20px 2px;
  border-left: 2px solid #233554 !important;
  background-color: transparent;
  color: #8892b0;
  font-size: 13px;
  text-align: left;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  text-align: center;
}
.tab-button:hover {
  color: #64ffda;
  background-color: #112240;
}

.tab-panel {
  display: none;
  width: 100%;
  height: auto;
  padding: 5px 5px;
}
.active {
  display: block;
}

.tab-panel h3 {
  margin-bottom: 2px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
}
.tab-panel h3 .company,
.tab-panel h3 .company a {
  color: #64ffda !important;
  padding: 0 !important;
}
.tab-panel .range {
  margin-bottom: 25px;
  color: #a8b2d1;
  font-size: 13px;
}
.tab-panel ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.tab-panel ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #64ffda;
  font-size: 18px;
}
.contact-tags .tag {
  background: transparent !important;
  border: 1px solid #64ffda;
  color: #64ffda !important;
  text-decoration: none !important;
  padding: 18px !important;
  margin: 5px 0;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#github-info button {
  background: transparent;
  border: none;
}
.box {
  background: transparent !important;
  padding: 2rem !important;
}
.contact-tags .tag:hover {
  transform: scale(105%);
}
#scroll-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  color: #2c2f33;
  cursor: pointer;
  text-align: center;
}
/* Scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #64ffda #0a192f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #0a192f;
}

*::-webkit-scrollbar-thumb {
  background-color: #64ffda;
  border-radius: 6px;
  border: 3px none #ffffff;
}

/* Media Query */
@media (max-width: 500px) {
  #github-info .media {
    display: block;
  }
  #github-info .media-left {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
  }
  #github-info .username {
    justify-content: center !important;
  }
  #github-info p {
    text-align: center;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .splide__slide {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .navbar-end .navbar-item {
    display: block;
    width: fit-content !important;
  }
  .inner {
    display: block;
  }
  .tab-button {
    border: none !important;
  }
  .tab-button.active {
    border-bottom: 2px solid #64ffda !important;
  }
  #tab-list {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 30px;
  }
  .fLsUxN {
    top: auto !important;
    bottom: 0px !important;
    height: 2px !important;
    margin-left: 50px !important;
  }
  .column {
    flex-basis: fit-content !important;
  }
}
